.navbar-brand {
  font-family: "Poppins", sans-serif;
  color: #910000 !important;
}

.navbar {
  background-color: #d7b59f !important;
}
.nav-link {
  font-family: "Open sans", sans-serif;
  color: #910000 !important;
}

#splash {
  background-size: cover;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("burgermenu.png") !important;
}
