.navbar-brand {
  font-family: "Poppins", sans-serif;
  color: #910000 !important;
}

.navbar {
  background-color: #deb499 !important;
}

footer {
  background-color: #910000 !important;
  height: 10vh;
  align-items: center;
}

/* footer h2 {
  color: #d8ad7d;
} */

.nav-link {
  font-family: "Open sans", sans-serif;
  color: #910000 !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("burgermenu.png") !important;
}

#splash {
  background-size: cover;
}

h1 {
  font-family: "poppins", sans-serif;
  color: #910000;
  font-size: 3rem;
}

h2 {
  font-family: "poppins", sans-serif;
  color: #910000;
}

h3 {
  font-family: "poppins", sans-serif;
  color: #910000;
}

h4 {
  font-family: "poppins", sans-serif;
  color: #d6664a;
}

.btn {
  background-color: #deb499;
  color: #910000;
  border: none;
  font-family: "poppins", sans-serif;
  transition: transform 0.2s;
  cursor: pointer;
}

.btn-warning:hover {
  border: none;
  color: #f0eae2;
  background-color: #910000;
  transform: scale(1.1);
}

p {
  font-family: "Open sans", sans-serif;
  color: #910000;
}
main {
  background-color: #f0eae2;
}

#second_section {
  background-color: #bac0cd;
}

#fourth_section {
  background-color: #d8ad7d;
}

.gif {
  width: 140px;
}

.container-fluid {
  padding: 0%;
}

#second_section,
#fourth_section {
  --bs-gutter-x: 0;
}

.logo {
  padding-left: 10px;
}

.tekstboks {
  max-width: 85vh;
}

.produkt:hover {
  transform: scale(0.9);
}

.produkt {
  transition: transform 0.2s;
  cursor: pointer;
}

p.m-4.mission-tekst {
  font-size: 1.05rem;
}

#splash .splashbillede * {
  grid-area: 1 / 1 / -1 / -1;
}

.splashbillede {
  place-items: center;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 9rem;
  }
}
